/* =================GERAL======================== */

body {
    font-family: "roboto mono", monospace;
    background-color: #597074;
    background-image: url("https://wallpaperaccess.com/full/9794.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* =================CABEÇALHO======================== */

.cabecalho{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    padding-left: 100px;
    padding-right: 20px;
    background-image: url("https://wallpaperaccess.com/full/9794.jpg");
    border-bottom: 5px solid #161616;

    .cabecalho_logo{
        max-width: 60px;
        transition: 0.3s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }
    }
    }

    .cabecalho_lista{
        display: flex;
        gap: 20px;
        a{
            color: #db9137;
            font-weight: bold;
            font-size: 26px;
            transition: 0.3s ease-in-out;
            &:hover{
            color: #161616;
            text-decoration: underline;
            }
        }
}


/* =================HOME======================== */

.hero{
    background-image: url("https://cdn.wallpapersafari.com/33/69/kSPvFj.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        background-color: #cacaca;
        font-family: "Bangers", system-ui;
        color: rgb(1, 78, 78);
        padding: 25px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        h1{
            font-size: 40px;
        }
        p{
            font-size: 26px;
        }
        a{
            background-color: #db9137;
            color: black;
            padding: 10px 20px;
            border-radius: 15px;
            font-size: 26px;
            border: 3px solid #cacaca;
            transition: 0.3s ease-in-out;
            &:hover{
                border: 3px solid #161616;
            }
        }
    }
}



/* =================FOTOS======================== */


.fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 100px 0;
    border-top: 5px solid #161616;
    max-width: 100%;
    overflow: hidden;
    h2{
        color: #161616;
        font-family: "Bangers", system-ui;
        font-size: 48px;
    }
    ul{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 20px;
        li{
            border-radius: 15px;
            border: 5px solid white;
            padding: 8px;
            transition: 0.5s ease-in-out;
            &:hover{
                transform: scale(1.05);
            }
        img{
            max-width: 100%;
            width: 100%;
            height: 300px;
            border-radius: 15px;
            display: block;
        }
        }
    }

}


/* =================SOBRE======================== */


.sobre{
    padding: 100px 0;
    border-top: 5px solid #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        background-color: rgba(255, 255, 255, 0.55);
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        padding: 25px;
        border-radius: 15px;
        border: 4px solid #161616;
        h2{
            color: #161616;
            font-family: "Bangers", system-ui;
            font-size: 48px;
        }
        p{
            font-size: 18px;
            text-align: center;
            line-height: 2;
        }
    }
}



/* =================RODAPÉ======================== */


.rodape{
    padding-top: 30px;
    border-top: 5px solid #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    .escola{
        color: #db9137;
        font-size: 35px;
    }
    .site{
        color: #cacaca;
        font-size: 20px;
    }
    .autor{
        color: #cacaca;
        font-size: 18px;
        align-self: flex-end;
    }
}